body {
    font-size: 1.1rem !important;
}
.shampan-img li{
    display: inline-block;
}
.shampan-logo img {
    height: 50px;
    width: 200px;
}
.shampan-image img {
    height: 250px;
    width: auto;
}
.profile-username img{
    height: 24px;
    width: 24px;
}
.shampan-button .active{
    background-color: #4b545c !important;
}
.shampan-button li{
    background-image: linear-gradient(to bottom right, #ffffff, #8d9ba9);
    color: black;
}
.shampan-button a:not(.active):hover {
    color: black !important;
}
.shampan-heading a{
    color: #474f56;
    font-size: 18px !important;
}
.shampan-heading a:hover{
    color: #474f56;
}
.shampan-heading p, li{
    color: black !important;
    font-weight: 500 !important;
    list-style: none;
}
.shampan-heading strong{
    color: #474f56;
    font-size: 18px !important;
}
.shampan-back-color{
    background-color: #EFEFEF !important;
}
Strong.strong-address{
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #1f2d3d !important;
}
#emp_photo, #company_logo, #company_favicon, #group_logo, #group_favicon, #emp_info {
    height: auto;
}
.tree {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:5px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-30px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree span{
    font-size: 15px;
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:17px;
    width:33px
}
.tree li span {
    padding:2px 3px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:20px
}
.shampan-scroll {
    overflow-x: scroll;
}
input#needOrderQty {
    background-color: #dee2e6;
    border-color: #dee2e6;
}
td.back-color-td{
background-color: #f6faff;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #b3b3b3 !important;
}
.table-bordered {
    border: 1px solid #b3b3b3 !important;
}
.table thead th {
    border-bottom: 2px solid #b3b3b3 !important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.btn.moveall.btn-outline-secondary{
    width: 96%;
}


